body {
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-size: 1.6rem;
}

.site-logo {
  color: var(--title-color);
  font-family: var(--montserrat);
  text-decoration: none;
  font-weight: 300;
  &__waves {
    font-weight: 700;
  }
}
