.btn {
  display: inline-block;
  box-shadow: none;
  border-radius: 60px;
  min-width: 10rem;
  padding: 1.75rem 3rem 1.5rem;
  text-decoration: none;
  font-family: var(--manjari);
  font-size: 1.8rem;
  &--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
  }
}
