.sidebar-toggle {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background: none;
  border: none;
  padding: 2rem;
  font-size: 3rem;
  cursor: pointer;
  color: var(--sidebar-toggle-background);
  display: none;

  &:active,
  &:focus {
    outline: none;
  }

  @include respond(tab-port) {
    display: block;
  }
}

.sidebar {
  background-color: var(--sidebar-background-color);
  width: 28rem;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid hsla(0, 0%, 90%, 1);

  @include respond(tab-port) {
    position: absolute;
    top: 0;
    z-index: 1;
    left: -28rem;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &--open {
      left: 0;
    }
  }

  &__branding {
    height: 10rem;
    position: relative;
    padding: 0 2.5rem;
    margin-bottom: 0.5rem;

    @include respond(tab-port) {
      height: 8rem;
      margin-top: 4rem;
    }
  }

  &__home-link {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 0;
    font-size: 2.25rem;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
  }

  &__sublist {
    padding: 0 4rem 0 2.5rem;
    margin-bottom: 4rem;
  }

  &__sublist-title {
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
    padding-bottom: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.05rem;
    font-family: 'Manjari', sans-serif;
    letter-spacing: 0.75px;
    margin-bottom: 0.75rem;
  }

  &__sublist-items {
    list-style-type: none;
  }

  &__sublist-item {
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    a {
      font-size: 1.25rem;
      padding: 0.25rem 0rem;
    }
  }
}
